.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 0 0 auto;

}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  gap: 25px;
  display: flex;
  padding: 0 10px;
  flex: 1 0 auto;
  min-width: 0;
}

a {
  font-size: 22px;
  background: white;
  /* this removes the line under the links */
  text-decoration: none;
}