body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 20px 8px 8px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  margin: 16px auto;
}

span {
  display: block;
  width:100px;
  margin: 5px auto;
  text-align: center;
}


button {
  display: block;
  background: white;
  border: 1px solid #eee;
  width:100px;
  margin: 5px auto;
}